body{
  margin: 0;
}

.img-container{
  margin: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.threed-container{
  margin: 0;
  z-index: 4;
  bottom: 0;
  left: 0;
  position: fixed;
}